* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

input[type="text"][placeholder="Add a comment"] {
    border: none;
    margin-left: 8px;
    width: 100%;
}

input:focus {
    outline: none;
}

.box {
    border: 2px solid black;
    border-radius: 35px;
    padding: 10px;
}

button {

    white-space: nowrap;
}